# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# ============================================================
# VIRTUAL ENVIRONMENT
# ============================================================

.venv/
venv/
env/

# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/

# ============================================================
# MLflow
# ============================================================

mlruns/
mlflow.db

# ============================================================
# MODEL ARTIFACTS
# ============================================================

models/*.joblib
models/*.pkl

# ============================================================
# OS FILES
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# PYTHON CACHE
# ============================================================

*.pyc
*.pyo
*.pyd

# ============================================================
# LOG FILES
# ============================================================

*.log